@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Minsk<br />
    Belarus<br />
    <abbr title="Phone"></abbr>
    +375441234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:savely375@gmail.com">savely375@gmail.com</a><br />
</address>